USE [master]
GO
/****** Object:  Database [Esercizio1]    Script Date: 24/02/2025 14:38:05 ******/
CREATE DATABASE [Esercizio1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Esercizio1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Esercizio1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Esercizio1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Esercizio1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Esercizio1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Esercizio1]
GO
/****** Object:  Table [dbo].[Cantiere]    Script Date: 24/02/2025 14:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cantiere](
	[IdCantiere] [int] NULL,
	[DenominazioneCantiere] [nvarchar](50) NULL,
	[Indirizzo] [nvarchar](50) NULL,
	[Citta] [nvarchar](50) NULL,
	[cap] [char](10) NULL,
	[PersonaRiferimento] [nvarchar](50) NULL,
	[DataInizioLavori] [date] NULL,
	[DataFineLavori] [date] NULL,
	[LavoriTerminatiSI_NO] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 24/02/2025 14:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] NULL,
	[Nome] [nvarchar](50) NULL,
	[Cognome] [nvarchar](50) NULL,
	[DataNascita] [date] NULL,
	[Sesso] [char](1) NULL,
	[CF] [nchar](16) NULL,
	[PIVA] [nchar](11) NULL,
	[Attivo] [bit] NULL,
	[Saldo] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operaio]    Script Date: 24/02/2025 14:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operaio](
	[IdDipendente] [int] NULL,
	[Nome] [nvarchar](50) NULL,
	[Cognome] [nvarchar](50) NULL,
	[CF] [nchar](16) NULL,
	[FigliACarico] [int] NULL,
	[Sposato/a] [bit] NULL,
	[LivelloLavorativo] [int] NULL,
	[DescrizioneMansione] [nvarchar](500) NULL,
	[Salario] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
USE [master]
GO
